<div class="container">
  <div class="navbar">

  <div class="header">
    Email OTP Verification
  </div>
  <div class="subheader">
    OTP sent to your Email Address 
  </div>
  

  <div class="input-group">
      <input type="text" maxlength="1" inputmode="numeric" (input)="onlyNumber($event)"> 
      <input type="text" maxlength="1" > 
      <input type="text" maxlength="1" > 
      <input type="text" maxlength="1" > 
  </div>

<div class="hero">

</div>

<div class="hero">

    <div class="countdown">
        <img src="/image/clock.svg" class="clock" alt="">
        {{timerText}} s
    </div>

  <div class="return">
    Didn't get the OTP? <a href="#" class="login">Resend OTP </a>
</div>
<div class="sihg">
       <button class="button">Verify & Proceed</button>
  </div>
</div>
</div>
</div>
<div class="ferni"></div>
<div class="ferni2"></div>
<div class="ferni3"></div>
<div class="ferniback"></div>


