@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Thai:wght@100..900&family=Roboto:wght@100..900&display=swap');

body {
  font-family: 'Roboto', 'Noto Serif Thai', sans-serif;
  padding: 0;
  margin: 0;
}