@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100&display=swap');

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Smooch Sans', sans-serif !important;
}