<div class="container">
  <div class="navbar">

  <div class="header">
    Sign In
  </div>
  <div class="subheader">
    Access the Dreamspos panel using your email and passcode.
  </div>
  

</div>


<div class="hero">

  <div class="Email">Email <span class="red">*</span></div>

  <div class="input-group">
      <input type="text" [(ngModel)]="title">
            <img class="iconpass" src="image/Email.svg">
  </div>
   <div class="Email">Password <span class="red">*</span></div>
  <div class="input-group">
      <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password">
            <img class="iconpass" (click)="showPassword = !showPassword" [src]="showPassword ? 'image/eye-open.svg' : 'image/eye-off.svg'">
  </div>
  <div class="checkbox-group">
      <mat-checkbox class="re" id="rememberMe" >Remember Me</mat-checkbox>
        <div class="For">
          <a routerLink="/forgot" class="For">Forgot Password?</a>
        </div>
</div>

  <div class="sihg">
       <button class="button" (click)="login()">Sign In</button>
  </div>
  <div class="new">New on our platform? <a routerLink="/register" class="Create-account">Create an account</a></div>
  <div class="or">OR</div>

  <div class="internet">
    <button class="Facebook"><img class="icon" src="image/facebook.svg" alt="Facebook"></button>
    <button class="Google"><img class="icon" src="image/google.svg" alt="Google"></button>
    <button class="Apple"><img class="icon" src="image/apple.svg" alt="Apple"></button>
  </div>


</div>
</div>

<div class="ferni"></div>
<div class="ferni2"></div>
<div class="ferni3"></div>
<div class="ferniback"></div>


<div *ngIf="showpopup" class="backpop">
  <div *ngIf="showpopup" class="popupcontainer">
  <div class="popup-content">
    <img class="iconsuccess" src="image/success.svg" alt="">
    <div class="headerpop">
      Success
    </div>
    <div class="subheadersuccess">
      {{popup}}
    </div>
    <button class="buttonclose" (click)="closepopup()">OK</button>
  </div>
</div>
</div>

<div *ngIf="showpopupnoti" class="backpop">
  <div *ngIf="showpopupnoti" class="popupcontainer">
  <div class="popup-content">
    <img class="iconsuccess" src="image/cross.svg" alt="">
    <div class="headerpop">
      Something went Wrong
    </div>
    <div class="subheadersuccess">
      {{popup}}
    </div>
    <button class="buttonnoti" (click)="closepopup()">OK</button>
  </div>
</div>
</div>

