:host{
    background-color: #F4F5FC !important;
}
.navbaar {
  display: flex;/* กระจายองค์ประกอบให้เต็มพื้นที่ */
  align-items: center; /* จัดให้อยู่ตรงกลางตามแนวตั้ง */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 3;/* ปรับให้มากกว่า sidebar เพื่อให้อยู่ด้านบนสุด */
  background-color: #FFF;
  border: 1px solid #CED4DA ;
  animation: slide 1s ease-in-out;
  
}

.navstatic{
    display: flex;
}

.iconsetting1,.iconsetting2,.iconsetting3,.iconsetting4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #F4F5FC;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
}
.iconsetting1:hover,.iconsetting2:hover,.iconsetting3:hover,.iconsetting4:hover{
    background: #cccdd4;

}
.myicon1{
    filter: brightness(0);
}
.myicon2 {
    filter: brightness(0) invert(1);
}
.time{
    font-size: 15px;
    color: white;
    font-weight: 800;
    background: #AD54F5;
    width: 100px;
    border-radius: 8px;
    height: 10px;
    padding: 13px;
    display: flex;
    justify-content: first baseline;
    align-items: center;
    text-align: center;
}
.lin{
    background: #E6EAED;
    width: 1px;
    height: 35px;
}
.container_bar{
    gap: 10px;

    margin-left: auto;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 450px;
    height: 70px;
}
.overdate{
    width: 50%;
    display: flex;
    margin-left: auto; 
    flex-direction: row-reverse ;
    flex-wrap: wrap;
}
.iconsale{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.date{
    background-color: #e6eaed64;
    width: 10%;
    height: 10px;
    font-size: 15px;
    font-weight: 300;
    border-radius: 10px;
    padding: 12px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 0.5px solid #212b3623;
}
.header_Inventory{
    margin-left: 20px;
    font-size: 30px;
    color: #2B2F38;
    transform: scaleX(1.1);
    font-weight: 450;
}
.iconsearch{
    position: absolute;
    display: flex;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    margin-left:10px;
    margin-top: 10px;
}
input::placeholder{
    text-indent: 30px;
}
.hamburger{
    border: 0.5px solid #00000031;
    background-color: white;
    border-radius: 8px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.hamburger:hover{
    background-color: #4444447c;
    border-radius: 50px;
}
.headercompany {
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    color: #6FAB23;
    font-weight: 800;
    align-items: flex-start;
    font-family: 'Nicomoji', sans-serif; /* ใช้งานฟอนต์เฉพาะตรงนี้ */
}
.search {
    display: flex;
    border-radius: 1px;
    padding: 20px;
    font-weight: 200;
}
.button_add{
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    padding: 15px;
    border-radius: 8px;
    font-size: 13px;
    height: 8px;
    gap: 8px;
    text-align: center;
    background-color:#84D46E;
}
.reload{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #E6EAED;
    cursor: pointer;
}
.reload:hover{
    background-color: #dadada;
}
.xs{
     display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #E6EAED;
    cursor: pointer;
}
.pdf{
      display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #E6EAED;
    cursor: pointer;
}
.custom-select {
  width: 120px; /* ปรับความกว้างตามต้องการ */
  position: relative;
}


.custom-select select {
  width: 100%;
  padding: 12px 16px;
  color: #48505E;
  font-weight: 100;
  background-color: #ffffff;
  border: 1px solid #E5E7EB;
  border-radius: 8px;
  appearance: none;
  font-size: 13px;
  cursor: pointer;
}

.custom-select::after {
  content: url("/image/down.svg"); /* Fixed: Added url() wrapper */
  font-size: 12px;
  color: #6B7280;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
.pagination {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: auto;
  font-family: sans-serif;
}
.prev{
    color: #1364D5 !important;
}
.next{
    color: #1364D5 !important;
}
.pagination a, .pagination span {
  text-decoration: none;
  color: #2B2F38;
  font-weight: 200;
  font-size: 16px;
  padding:10px 16px;
  border-radius: 8px;
  transition: all 0.2s;
}
.table {
    background-color: #F4F5FC;
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    gap: 1%;
    display: flex;
    box-sizing: border-box; /* เพิ่มบรรทัดนี้ */
}
.table_detail {
    margin-top: 10px;
    padding: 20px;
    
    width: 100%;
    gap: 1%;
    display: flex;
    box-sizing: border-box; /* เพิ่มบรรทัดนี้ */
}
.Return {
    animation: Move_Return 0.5s ease-in-out forwards !important;
}

@keyframes Move_Return {
    0% {
        transform: translateY(500px);
        opacity: 0;
    }

    50% {
        transform: translateY(0);
        opacity: 1;
        transform: scaleY(1.1);

    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.fade-out2 {
    animation: Moveemployee 1s ease-in-out !important;
}

@keyframes Moveemployee {
    0% {
        transform: translateY(0px);
        /* เริ่มต้นที่ตำแหน่งปกติ */
        opacity: 1;
    }

    100% {
        transform: translateY(-5000px);
        /* เลื่อนลงไปที่จุดสุดท้าย */
        opacity: 0;
        /* ค่อยๆ จางหายไปเมื่อเลื่อนลง */
    }
}
.sku {
    font-size: 15px;
     flex: 1 1 0%; /* บังคับให้ทุกคอลัมน์มีความกว้างเท่ากันเสมอ ไม่ว่าจะข้อความสั้นหรือยาว */
    word-break: break-word; /* ตัดคำขึ้นบรรทัดใหม่เมื่อข้อความยาวเกินขนาดคอลัมน์ */
    padding: 0 10px; 
    color: #48505E;
    font-weight: 400;

}
.sku2 {
    font-size: 15px;
     flex: 1 1 0%; /* บังคับให้ทุกคอลัมน์มีความกว้างเท่ากันเสมอ ไม่ว่าจะข้อความสั้นหรือยาว */
    word-break: break-word; /* ตัดคำขึ้นบรรทัดใหม่เมื่อข้อความยาวเกินขนาดคอลัมน์ */
    padding: 0 10px; 
    color: #48505E;
    font-weight: 300;

}
.status{
   font-size: 15px;
     flex: 1 1 0%; /* บังคับให้ทุกคอลัมน์มีความกว้างเท่ากันเสมอ ไม่ว่าจะข้อความสั้นหรือยาว */
    word-break: break-word; /* ตัดคำขึ้นบรรทัดใหม่เมื่อข้อความยาวเกินขนาดคอลัมน์ */
    padding: 0 10px; 
    color: #84D46E;
    font-weight: 300; 
}
.pagination .page.active {
  background-color: #1364D5;
  color: white;
}

.pagination .page:hover:not(.active) {
  background-color: #f3f4f6;
}

.pagination .dots {
  color: #6b7280;
}

.import{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    padding: 15px;
    border-radius: 8px;
    font-size: 13px;
    height: 8px;
    gap: 8px;
    text-align: center;
    background-color:#1364D5;
}
.in_bt{
    display: flex;
    margin-left: auto;
    gap: 8px;
}
.inputser{
    border-radius: 8px;
    padding: 10px;
    width: 15vw;
    height: 20px;
    font-size: 15px;
    font-weight: 100;
    color: #48505E;
    border: none;
    border: 1px solid #E6EAED;
}
.profile{
    display: flex;
    position: fixed;
  top: 70px;
  margin-left: auto;
  width: 270px;
  height: 120vh;
  background-color: #FFF;
  color: #212529;
  z-index: 1;
  transition: all .3s ease;


}

.sidebar {          
    position: fixed;          
    width: 280px;          
    height: 100vh; 
    padding: 20px;          
    background: #F4F5FC;          
    transition: all .3s ease;          
    flex-shrink: 0;          
    z-index: 1;          
    animation: slideright 0.5s ease-in-out;                  
    overscroll-behavior: contain;               
    overflow-y: auto;  
}

.sidebar:hover {   
    overflow-y: auto; 
}
.table_detail2 {     
    opacity: 0; /* ซ่อนไว้ก่อนเริ่มแอนิเมชัน */     
    transform: translateY(-10px); /* ดันขึ้นไปด้านบนเล็กน้อย */     
    animation: showLine 1s ease forwards; /* สั่งให้เล่นแอนิเมชัน */ 
}  
@keyframes showLine {
    0% {
        opacity: 0;
        transform: translateX(1000px);
        background-color: #ffffff;
        box-shadow: 0 0 0px rgba(26, 255, 0, 0);
    }
    50% {
        /* เรืองแสงสีเขียวเข้มข้นขึ้นในช่วงกลาง */
        box-shadow: 0 0 100px rgba(252, 255, 252, 0.8), 0 8px 20px rgba(0, 0, 0, 0.15);
                opacity: 1;
    }
    70%{
           box-shadow: 0 0 100px rgba(253, 255, 253, 0), 0 8px 20px rgba(0, 0, 0, 0.15);
    }
    100% {
        transform: translateY(0);
                opacity: 1;

    }
}
.fix {
    position: relative;
    width: 280px;
    padding: 20px;
    overflow: hidden;
    background: #F4F5FC;
    transition: all .3s ease;
    flex-shrink: 0;
    
}

.sidebar.open {
    width: 0;
    padding: 0;
}
.fix.open{
    width: 0;
    padding: 0;
}
.fix2{
     display: flex;
    position: relative;
  top: 0;
  margin-left: auto;
  width: 270px;
  height: 120vh;
  background-color: #FFF;
  color: #212529;
      transition: all .3s ease;
  z-index: 1;
  animation: sliderightt 0.5s ease-in-out;
}

.fix2.open{
    width: 0;
    padding: 0;
}
.profile.open{
    width: 0;
    padding: 0;
}
.ge{
    font-size: 12px;
    margin-top: 20px;
    color: #6C757D;
    font-weight: 600;
    margin-left: 20px;
}
.Logout {
    padding: 10px;
    color: #6C757D;
    font-weight: 300;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 170px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.Logout:hover{
    background-color: #4444447b;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.dash{
    background-color:#84D46E;
    padding: 10px;
    border-radius: 5px;
    color: #FFF;
    font-weight: bolder;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.no{
    padding: 10px;
    color: #6C757D;
    font-weight: 300;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.no:hover{
    background-color: #4444447b;
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.menuin{
    padding: 20px;
}
/* เมื่อมีคลาส .open ให้เลื่อน Sidebar กลับเข้ามาในจอ */

.static {
    width: 100%;
    padding: 20px;
    border: 1px solid #E6EAED;
    height: 100%;
    padding: 20px;
    background: #fff;
    box-shadow: 0 8px 24px rgba(0,0,0,.08);
    box-sizing: border-box;
    
}
.connn{
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile_employee{
    display: flex;
    align-items: center;
}
.container {
    flex: 1; 
    width: 100%; /* เปลี่ยนจาก max-width เป็น width */
    box-sizing: border-box; /* ป้องกันไม่ให้ padding ทำให้เกิด Scrollbar หรือพื้นที่เกิน */
    min-width: 0; 
    background: #F4F5FC; 
    margin-right: 0;
    z-index: 2;
    height: 100%;
    margin-top: 0;
    animation: Boom 0.7s ease-in-out;
}
.detail_con{
    position: relative;
    border: 1px solid #E6EAED;
    width: 100%;
    margin-top: 0;
    height: 100%;
}
.bars{
    margin-top: 20px;
    margin-left: -10px;
    position: relative;
    display: flex;
    align-items: center;
    height: 30px;
    gap: 8px;
    
}
.header_in{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

/* ปรับแต่งหน้าตาเมนูเพิ่มเติม (ตัวอย่าง) */
.menu-item {
  display: block;
  padding: 15px 20px;
  color: #212529;
  text-decoration: none;
}
.over {
    display: flex;
    margin-top: 50px;
    min-height: calc(100vh - 50px);
    overflow: hidden;
    max-width: 100%;
    width: 100vw;
}
.menu-item:hover {
  background-color: #444;
}


.T {
    height: 70px;
    width: 180px; /* เพิ่มความกว้าง */
    background-color: #FFF; /* เปลี่ยนเป็นสีดำเพื่อทดสอบ */
    border-radius: 10px;
    box-shadow: 0px 2px 6px 0px #00000013;
    
}
.conT{
    margin-left: 30px;
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}
.iconpass{
    position: relative;
    display: flex;
    width: 30px;
    height: 30px;
    top: 30%;
    margin-left: 10%;
    justify-content: center;
    align-items: center;
}



@keyframes height {
  0% {
    transform: scaleY(0);
    box-shadow:0px 10px 200px 20px #69ff4a;
  }     
  50% {
    transform: scaleY(1);
    box-shadow:0px 10px 200px 20px #fbfffa;
    /* เพิ่มการเรืองแสงสีขาวตรงกลาง */
  }
  100% {
    transform: scaleY(1);
    /* ลดขนาดลงมาเล็กน้อยเพื่อให้ดูมีจังหวะการเต้นของแสง */
    box-shadow: 0px 0px 30px 5px #69a95700;
  }
}
.con {
    display:flex;
    align-items:flex-end;
    height:330px;
}
.bigcontainergraph {
    position: relative;
    margin-top: 50px;
    height: 369px;
    margin-left: 10px;
    padding-left: 45px;
}


.line{
    margin-top: 10px;
    background-color: #E6EAED;
    width: 100%;
    height: 1px;
}

.line-header{
    background-color: #BCBFC3;
    width: 100%;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.num-container {
    position: absolute;
    margin-left: -50px;
}
.num{
    color: #646B72;
    font-weight: 300;
    margin-bottom: 20px;
}
.mon{
    color: #646B72;
    font-weight: 300;
    margin-top :30px;
    margin-bottom: 20px;
}
.box-total{
    display: flex;
    gap: 8px;
}
.total{
    color: #646B72;
    font-weight: 300;
    display: flex;
    padding: 10px;
    width: 130px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid #E6EAED;
    
}
.point{
    display: flex;
    width: 10px;
    height: 10px;
    background-color: #69A957;
    border-radius: 100px;
    margin-top: 4px;
}
.detail{
    font-size: 10px;
    margin-left: -10px;
}

.header_inside{
    padding: 10px;
    width: 200px;
    display: flex;
    gap: 10px;
}
.header_Manager{
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 50px;
    border: 1px solid #CED4DA ;
}

.small_manager{
    font-size: 12px;
    color: #6C757D;
}
.container_header {
    justify-content: center;
    
    display: flex;
    flex-direction: column; /* จัดให้ข้อความ Manager และ Admin เรียงกันในแนวตั้ง */
}
.icon_manager{
    display: flex;
    width: 30px;
    height: 30px;
}
.manager{
    font-size: 15px;
    font-weight: 500;
}
.pointt{
    display: flex;
    width: 30px;
    height: 30px;
    margin-left: auto;
}
.Qu{
    
}
.container_qu{
    flex-direction: column;
    position: absolute;
    top: 90px;
    width: 100%;
    padding: 30px;
    border: 1px solid #CED4DA ;
}
.co{
    display: flex;
    color: #5C6F88;
    font-weight: 500;
    margin-bottom: 20px;
    gap: 10px;
}
.action{
    padding: 20px;
    gap: 10px;
}
.icon_managerr{
    
}
.header_Product{
    display: flex;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 450;
}
@keyframes Boom {
    0%{
        box-shadow: 0px 42px 234px 0px #e3ffdc;
        transform: translateY(-500px); 
        opacity: 0;

    }
    30%{
         opacity: 1;
         
         
    }
    40%{
        transform: translateY(100px); 
    }
    80%{
        box-shadow: none;
        transform: scaleY(1.1);

    }
    100%{
        box-shadow: none;

        
    }
}
.Animation_out{
     flex: 1; 
    width: 100%; /* เปลี่ยนจาก max-width เป็น width */
    box-sizing: border-box; /* ป้องกันไม่ให้ padding ทำให้เกิด Scrollbar หรือพื้นที่เกิน */
    min-width: 0; 
    padding: 20px; 
    background: #F4F5FC; 
    margin-right: 0;
    z-index: 2;
    width: 100%;
}
.fade-out{
    animation: Move_dashboard 1s ease-in-out !important;
}
@keyframes Move_dashboard{
    0% {
        transform: translateY(0px); /* เริ่มต้นที่ตำแหน่งปกติ */
        opacity: 1;
    }
    100% {
        transform: translateY(5000px); /* เลื่อนลงไปที่จุดสุดท้าย */
        opacity: 0; /* ค่อยๆ จางหายไปเมื่อเลื่อนลง */
    }
}
@media (max-width:768px){
    .headercompany {
    display: flex;
    margin-left: -6px;
    flex-direction: column;
    color: #6FAB23;
    font-weight: 800;
    align-items: flex-start;
    font-family: 'Nicomoji', sans-serif; /* ใช้งานฟอนต์เฉพาะตรงนี้ */
}
.headersum{
    margin-top: 30px;
    margin-bottom: 30px;
}
    .hamburger{
    border: 0.5px solid #00000031;
    border-radius: 8px;
    background-color: white;
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 40px;
    flex-direction: row-reverse ;
    height: 40px;
}   

    .search{
        display: none;
    }
    .navbaar{
        padding: 15px;
       
    }
    .sidebar {
    width: 280px;
    padding: 20px;
    overflow: hidden;
    background: #F4F5FC;
    transition: all .3s ease;
    flex-shrink: 0;
    }
    .profile{
        display: none;
    }
    .conT{
    margin-left: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.conT{
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%,2fr)); /* ปรับ 200px ตามขนาดที่ต้องการ */
    gap: 10px;
}
.T {
    height: 70px;
    max-width: 100%;
    width: 40vw; /* เพิ่มความกว้าง */
    background-color: #FFF; /* เปลี่ยนเป็นสีดำเพื่อทดสอบ */
    border-radius: 10px;
    box-shadow: 0px 2px 6px 0px #00000013;
    
}
.container {
    flex: 1; 
    width: 100%; /* เปลี่ยนจาก max-width เป็น width */
    box-sizing: border-box; /* ป้องกันไม่ให้ padding ทำให้เกิด Scrollbar หรือพื้นที่เกิน */
    min-width: 0; 
    padding: 0; 
     margin-top: 10px;
    background: #F4F5FC; 
    margin-right: 0;
}
.bar {
  width: 5vw;
  background-color: #84D46E;
  border-radius: 10px;

}
.con{
    margin-right: 40px;
    gap: 0;
}
.bar-container {
    margin-top: 70px;
  display: inline-block;
  margin-right: 10px;
  width: 5%;
  vertical-align: bottom;
}
.num{
    color: #646B72;
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 20px;
}
.mon{
    color: #646B72;
    font-weight: 300;
    font-size: 10px;
}
.line{
    margin-top: -62px;
}
.overdate{
    display: none;
}
.headerSale{
    font-size: 18px;
}
.sidebar {
      width: 0;
    padding: 0;
    overflow: hidden;
    background: #F4F5FC;
    transition: all .3s ease;
    flex-shrink: 0;
}

.sidebar.open {
    width: 280px;
    padding: 20px;

}
.fix.open~.container{
    opacity: 0;
    transition: all 0.3s ease;
}
.fix {
    position: relative;
    width: 0;
    padding: 0;
    overflow: hidden;
    background: #F4F5FC;
    transition: all .3s ease;
    flex-shrink: 0;
}


.fix.open{
    width: 100%;
    padding: 20px;
    height: 100vh;
}
.iconpass{
    position: relative;
    display: flex;
    width: 30px;
    height: 30px;
    top: 30%;
    margin-left: 10%;
    justify-content: center;
    align-items: center;
}
.profile{
    display: none;
}
.fix2{
    display: none;
}
.Logout {
    position: fixed;
    bottom: 20px;
    z-index: 1000; /* เพื่อให้ปุ่มอยู่ด้านบนสุดเสมอ */
}
.container_bar{
    display: flex;
    gap: 10px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 450px;
    height: 50px;
}
.lin{
   
}
.iconsetting1{
    display: none;
}
.time {
    position: relative;
    width: 10px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    justify-content: center;

    transition: width 0.2s ease-in-out;
}

.Y {
    display: none;
}

.time.active {
    width: 70px;
}

.time.active .Y {
    display: block;
}

.num-container{
    margin-top: 60px;
}
.popupcontainer{
    width:60% !important;
    
}
.headerpop{
    font-size: 20px !important; 
}
.iconsuccess{
    width: 60px !important;
    height: 60px !important;
}
}




.popupcontainer{
    background-color: #FFFFFF;
    border: 2px solid #bccbbb85 ;
    border-radius: 40px;
    padding: 50px;
    width: 400px;
    height: 200px;
    position: absolute;
    z-index: 1;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.buttonclose {
    width:100%;
    height:20px;
    padding:23px;
    font-size:16px;
    color:#FFFFFF;
    border:2px solid #E6EAED;
    border-radius:8px;
    background:#84D46E;
    justify-content:center;
    display:flex;
    margin-bottom:20px;
    align-items:center;
}
.buttonclose:hover{
    background:#9ef387;
}
.buttonnoti:hover{
    background:#eb2d2d;
}
.backpop {
    background-color: rgba(0, 0, 0, 0.28);
    position: fixed; /* ใช้ fixed เพื่อให้ตรึงอยู่กับหน้าจอแม้จะมีการเลื่อน */
    top: 0;
    left: 0;
    width: 100vw;  /* ความกว้างเต็มหน้าจอ */
    height: 100vh; /* ความสูงเต็มหน้าจอ */
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 9999; /* เพิ่ม z-index เพื่อให้อยู่ด้านบนสุด */
}
.subheadersuccess{
    font-size: 15px;
    color: #646B72;
    margin-bottom: 20px;
    font-weight: 300;
    justify-content: center;
    display: flex;
    text-align: center;
}
.headerpop{
    font-size: 30px;
    color: #212B36;
    margin-bottom: 15px;
    font-weight: 450;
    display: flex;
    justify-content: center;

}

.iconsuccess{
    width: 40px;
    height: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}


.buttonnoti {
    width:100%;
    height:20px;
    padding:23px;
    font-size:16px;
    color:#FFFFFF;
    border:2px solid #E6EAED;
    border-radius:8px;
    background:#DC1818;
    justify-content:center;
    display:flex;
    margin-bottom:20px;
    align-items:center;
    cursor: pointer;
}

.Animation_out{
    margin: 0;
    padding: 0;
}


.loading-container {
    position: fixed;
    top: -20px;
    flex-direction: column;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
}

.loading {
    display: flex;
    gap: 8px;
    width: 100px;
}

.loading>div {
    height: 16px;
    background: #203e18;
    flex: 1;
    transform: scaleY(0.1);
    animation: loading 0.5s ease-in-out infinite alternate;
    
}

@keyframes loading {
    0% {
        opacity: 0.2;
        transform: scaleY(0.1);
    }

    100% {
        opacity: 1;
        transform: scaleY(2.8);
        background: #84D46E;
    }
}


.loader1 {
    animation-delay: 0.1s !important;
}
.loader2 {
    animation-delay: 0.2s !important;
}
.loader3 {
    animation-delay: 0.3s !important;
}
.loader4 {
    animation-delay: 0.4s !important;
}
.logo_loading {     
    width: 300px;     
    transform: scaleX(1.2);
    height: 300px;    
    animation: expandLogo 2s linear infinite alternate;
}

@keyframes expandLogo {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}




.card {
  background-color: #212529;
  margin: 100px auto 0;
    margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 1.25rem;
  width: fit-content;
  max-width: 300px;
  animation: iss 2s ease-in-out infinite alternate;
}

@keyframes iss{ 
    0%{
        background-color: #212529;
    }
    100%{
        background-color: #dcdcdc;
        color: #212529;
    }
}
.loader {
    text-align: center;
  color: rgb(165, 165, 165);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

.words {
  overflow: hidden;
  position: relative;
}
.words::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    var(--bg-color) 10%,
    transparent 30%,
    transparent 70%,
    var(--bg-color) 90%
  );
  z-index: 20;
}

.word {
    font-weight: 600;
  display: block;
  height: 100%;
  padding-left: 6px;
  color: #71fa6a;
  animation: spin_4991 4s infinite;
}

@keyframes spin_4991 {
  10% {
    -webkit-transform: translateY(-102%);
    transform: translateY(-102%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-202%);
    transform: translateY(-202%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-302%);
    transform: translateY(-302%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-402%);
    transform: translateY(-402%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}
