
<div class="container">
  <div class="navbar">

  <div class="header">
    Reset password?
  </div>
  <div class="subheader">
    Enter New Password & Confirm Password to get inside
  </div>
  

</div>


<div class="hero">
   <div class="Email">New Password <span class="red">*</span></div>
   <div class="input-group">
      <input [type]="showPassword ? 'text': 'password'" [(ngModel)]="password">
      <img class="iconpass"  (click)="togglePasswordVisibility()" [src]="showPassword ? 'image/eye-open.svg' : 'image/eye-off.svg'">
  </div>
  <div class="Email">Confirm Password <span class="red">*</span></div>
   <div class="input-group">
      <input [type]="showConfirmPassword ? 'text': 'password'" [(ngModel)]="confirmPassword" >
      <img class="iconpass" (click)="toggleConfirmPassword()" [src]="showConfirmPassword ? 'image/eye-open.svg' : 'image/eye-off.svg'">
  </div>


  <div class="sihg">
       <button class="button" (click)="addTodo()" [disabled]="loading">Change Password</button>
  </div>
  <div class="return">
    Return to <a href="#" class="login" >Login</a>
</div>


<!-- <div class="todo-list">
    @for(todo of todos; track todo.id){
      <div class="todo-item">
        <mat-checkbox  [(ngModel)]="todo.completed" (change)="toggleTodo(todo)"></mat-checkbox>
          <span [class.completed]="todo.completed">{{todo.title}}</span>
            <button class="delete-button" (click)="deleteTodo(todo.id)">ลบ</button>
      </div>
    }
  </div> -->
</div>
</div>

<div class="ferni"></div>
<div class="ferni2"></div>
<div class="ferni3"></div>
<div class="ferniback"></div>

<div *ngIf="showpopup" class="backpop">
  <div *ngIf="showpopup" class="popupcontainer">
  <div class="popup-content">
    <img class="iconsuccess" src="image/success.svg" alt="">
    <div class="headerpop">
      {{popup}}
    </div>
    <div class="subheadersuccess">
      Your register completed
    </div>
    <button class="buttonclose" (click)="closepopup()">Back to Sign In</button>
  </div>
</div>
</div>

<div *ngIf="showpopupnoti" class="backpop">
  <div *ngIf="showpopupnoti" class="popupcontainer">
  <div class="popup-content">
    <img class="iconsuccess" src="image/cross.svg" alt="">
    <div class="headerpop">
      Something went Wrong
    </div>
    <div class="subheadersuccess">
      {{popup}}
    </div>
    <button class="buttonnoti" (click)="closepopup()">OK</button>
  </div>
</div>
</div>


<div *ngIf="isLoading" class="loading-container">
    <img class="logo_loading" src="/image/logoo.svg" alt="" >
  <div class="loading">
    <div class="loader1"></div>
    <div class="loader2"></div>
    <div class="loader3"></div>
    <div class="loader4"></div>
  </div>
</div>