<div class="navbaar">
    <button class="hamburger" (click)="hambar()">
        <img src="image/ham.svg" alt="">
    </button>
    <div class="headercompany">
        <img src="image/logo.svg" alt="">
    </div>
    <!--   <div class="search">
        <input class="inputser"type="text" placeholder="Search" [(ngModel)]="search" (input)="filterS()">
        <img class="iconsearch" src="image/search.svg" alt="">
    </div> -->
    <div class="container_bar">
        <div class="time" [class.active]="isTimeOpen" (click)="isTimeOpen = !isTimeOpen">
            <img class="icon_time" src="image/Time Icon.svg">
            <div class="Y">
                {{ currentTime | date:'HH:mm:ss' }}
            </div>
        </div>
        <div class="lin"></div>
        <img class="iconsetting1" src="image/Maximize Icon.svg" (click)="toggleMenu()" alt="">
        <!-- <img class="iconsetting2" src="image/Song.svg" alt=""> -->
        <img class="iconsetting3" src="image/Chart.svg" alt="">
        <img class="iconsetting4" [src]="profile" alt="User Profile">
    </div>

</div>

<div class="over">
    <div class="fix" [class.open]="isMenuOpen">
        <div class="sidebar" [class.open]="isMenuOpen">
            <div class="ge">GENERAL</div>
            <div class="menuin">
                <div class="no" *ngIf="userRole === 'admin' || userRole === 'manager'" (click)="Animationa_out()">
                    <img class="myicon1" src="image/dashboard.svg" alt="">Dashboard
                </div>
                <div class="dash">
                    <img class="myicon2" src="image/icon-wrapper-h.svg" alt="">Inventory
                </div>
                <div class="no" (click)="Animationa_out2()">
                    <img src="image/shop.svg" alt="">Sales Orders
                </div>
                <div class="no" (click)="Animationa_out3()">
                    <img src="image/Vectorhistory.svg" alt="">Stock History
                </div>
                <div class="no" (click)="Animationa_out4()">
                    <img src="image/Employee.svg" alt="">Employee
                </div>
                <div class="no" *ngIf="userRole === 'admin' || userRole === 'manager'" (click)="Animation_out5()">
                    <img src="image/car.svg" alt="">Suppliers
                </div>
                
            </div>
            <div class="ge">SUPPORT</div>
            <div class="menuin">
                <div class="no">
                    <img src="image/help.svg" alt="">Help
                </div>
                <div class="no">
                    <img src="image/setting.svg" alt="">Settings
                </div>
            </div>
            <div class="Logout" (click)="logout()"><img class="" src="/icon_manager/Logout.svg">Log Out</div>
        </div>
    </div>
    <div class="Animation_out" [class.fade-out]="Animation_out" [class.fade-out2]="Animation_outdash" [class.Return]="play_Return" [class.Boom]="stan">
        <div class="container"  [class.fade-out]="Animation_out" [class.fade-out2]="Animation_outdash" [class.Return]="play_Return" [class.Boom]="stan">
            <div class="static">
                <div class="header_in">
                    <div class="header_Inventory">Inventory</div>
                        <div class="in_bt">
                            <div class="pdf">
                                <img src="image/pdf.svg" alt="">
                            </div>
                            <div class="xs">
                                    <img src="image/XS.svg" alt="">
                                </div>
                                <div class="reload">
                                    <img src="image/Group.svg" alt="">
                                </div>
                            <div class="button_addt" (click)="button_adds()">
                        <img src="image/In_add.svg" alt="">
                        <div class="H">Add Product</div>
                    </div>
                     <div class="import" (click)="button_imports()" >
                        <img src="image/import.svg" alt="">
                        <div class="H">Import Product</div>
                    </div>
                        </div>
                </div>
                 <div class="bars">
                        <div class="search">
                        <input class="inputser" type="text" placeholder="Search" [(ngModel)]="search"
                            (input)="filterS()">
                        <img class="iconsearch" src="image/search.svg" alt="">
                    </div>
                    <div class="custom-select">
  <select class="text">
    <option value="all">All <img class="icon_down"src="image/down.svg" alt=""></option>
    <option value="option1">Low In Stock</option>
    <option value="option2">Option 2</option>
  </select>
</div>  
<div class="custom-select">
  <select>
    <option value="all">Brand <img class="icon_down"src="image/down.svg" alt=""></option>
    <option value="option1">Option 1</option>
    <option value="option2">Option 2</option>
  </select>
</div>
<div class="custom-select">
  <select>
    <option value="all">Category <img class="icon_down"src="image/down.svg" alt=""></option>
    <option value="option1">Option 1</option>
    <option value="option2">Option 2</option>
  </select>
</div>
<div class="pagination">
  <a href="#" class="prev">&lt; Prev</a>
  <a href="#" class="page active">1</a>
  <a href="#" class="page">2</a>
  <span class="dots">...</span>
  <a href="#" class="page">11</a>
  <a href="#" class="next">Next &gt;</a>
</div>
                    </div>
                <div class="detail_con">
                   
                 <div class="table-container">
    <!-- Header -->
    <div class="table">
        <div class="sku">SKU</div>
        <div class="sku">
            Product Name</div>
        <div class="sku">Category</div>
        <div class="sku">Brand</div>
        <div class="sku">Price</div>
        <div class="sku">Quantity</div>
        <div class="sku">Quantity Alert</div>
    </div>
    <ng-container *ngIf="loader; else realData">
                        <div class="card">
                            <div class="loader">
                                <div class="text">Loading</div>
                                <div class="words">
                                    <span class="word"></span>
                                    <span class="word">TAM</span>
                                    <span class="word">RAI</span>
                                    <span class="word">DEE</span>
                                    <span class="word">WELCOME</span>
                                    <span class="word">Please</span>
                                    
                                </div>
                            </div>
                        </div>

                    </ng-container>
    <!-- Data Rows -->
    <ng-template #realData>
        <div class="table_detail2" *ngFor="let item of Inventory; let i = index" 
     [style.animation-delay]="i * 0.15 + 's'">
    <div class="table_detail">
        <div class="sku2">{{ item.sku }}</div>
        <div class="sku2"><div class="connn">
        <img class="profile_employee" [src]="item.picture" alt="">{{ item.product_name }}
    </div></div>
        <div class="sku2">{{ item.category }}</div>
        <div class="sku2">{{ item.brand }}</div>
        <div class="sku2">{{ item.price }}</div>
        <div class="sku2">{{ item.quantity }}</div>
        <div class="sku2">{{ item.quantity_alert }}</div>
        <div class="button_small">
            <img class="icon_small_inventory" src="image/edit.svg" alt="">
            <img class="icon_small_inventory" src="image/delete.svg" (click)="button_delete(item.sku, i)" alt="">
        </div>
    </div>
    <div class="line"></div>
</div>
    </ng-template>
</div>
                </div>
                
            </div>


        </div>
    </div>
    <div class="fix2" [class.open]="isMenuOpenprofile" [class.fix2]="out">
        <div [class.open]="isMenuOpenprofile" class="profile">
            <div class="header_Manager">
                <div class="header_inside">
                    <img class="iconsetting4" [src]="profile" alt="User Profile">
                    <div class="container_header">
                        <div class="manager"> {{username}}</div>
                        <div class="small_manager">Admin</div>
                    </div>
                    <img class="pointt" src="/icon_manager/point.svg">
                </div>


            </div>
            <div class="linee"></div>
            <div class="container_qu">
                <div class="qu">Quick Actions</div>
                <div class="action">
                    <div class="co"><img class="icon_managerr" src="/icon_manager/add.svg">Create Order </div>
                    <div class="co"><img class="icon_managerr" src="/icon_manager/box.svg">Add Product</div>
                    <div class="co"><img class="icon_managerr" src="/icon_manager/deli.svg">Add Supplier</div>
                    <div class="co"><img class="icon_managerr" src="/icon_manager/up.svg">Export</div>
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="showpopupnoti" class="backpop">
        <div *ngIf="showpopupnoti" class="popupcontainer">
            <div class="popup-content">
                <img class="iconsuccess" src="image/cross.svg" alt="">
                <div class="headerpop">
                    Something went Wrong
                </div>
                <div class="subheadersuccess">
                    {{popup}}
                </div>
                <button class="buttonnoti" (click)="closepopup()">OK</button>
            </div>
        </div>
    </div>

<div class="import_product" [class.product]="product" [class.button_cancel]="button_cancel" [class.button_importt]="button_importt">     
    <div class="con_import_product" [class.out_comimport]="outimport">         
        <div class="serach_product">             
            Search Product         
        </div>         
       <div class="add_image" (click)="fileInput.click()" style="cursor: pointer;">
    <!-- ถ้ายังไม่มีรูปที่เลือก ให้แสดงไอคอนบวก -->
    <img *ngIf="!imagePreview" src="image/Add ImageAdd_image.svg" alt="Add Image">
    
    <!-- ถ้าเลือกรูปแล้ว ให้แสดงรูปภาพตัวอย่าง -->
    <img *ngIf="imagePreview" [src]="imagePreview" alt="Product Preview" style="width: 100%; height: 100%; object-fit: cover; border-radius: 8px;">
    
    <!-- Input file ที่ซ่อนไว้ -->
    <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" style="display: none;">
</div>   
        
        <div class="con_sku_pro">             
            <div class="sku_pro">             
                <label class="label_import" for="">SKU <span class="important">*</span></label>             
                <input type="text" class="sku_input" [(ngModel)]="newProduct.sku" name="sku">         
            </div>         
            <div class="sku_pro">             
                <label class="label_import" for="">Product Name</label>             
                <input type="text" class="sku_input" [(ngModel)]="newProduct.product_name" name="product_name">         
            </div>         
        </div>         
        
        <div class="con_sku_pro">             
            <div class="sku_pro">             
                <label class="label_import" for="">Catagory <span class="important">*</span></label>             
                <input type="text" class="sku_input" [(ngModel)]="newProduct.category" name="category">         
            </div>         
            <div class="sku_pro">             
                <label class="label_import" for="">Brand <span class="important">*</span></label>             
                <input type="text" class="sku_input" [(ngModel)]="newProduct.brand" name="brand">         
            </div>         
        </div>         
        
        <div class="con_sku_pro">             
            <div class="sku_pro">             
                <label class="label_import" for="">Price <span class="important">*</span></label>             
                <input type="number" class="sku_input" [(ngModel)]="newProduct.price" name="price">         
            </div>         
            <div class="sku_pro">             
                <label class="label_import" for="">Quantity Alert <span class="important">*</span></label>             
                <input type="number" class="sku_input" [(ngModel)]="newProduct.quantity_alert" name="quantity_alert">         
            </div>         
        </div>          

        <div class="serach_product">             
            Add Product         
        </div>         
        
        <div class="con_sku_pro">             
            <div class="sku_pro">             
                <label class="label_import" for="">Supplier <span class="important">*</span></label>             
                <input type="text" class="sku_input" [(ngModel)]="newProduct.supplier" name="supplier">         
            </div>         
            <div class="sku_pro">             
                <label class="label_import" for="">Supplier Invoice No.<span class="important">*</span></label>             
                <input type="text" class="sku_input" [(ngModel)]="newProduct.invoice_no" name="invoice_no">         
            </div>         
        </div>         
        
        <div class="con_sku_pro">             
            <div class="sku_pro">             
                <label class="label_import" for="">Import Quantity <span class="important">*</span></label>             
                <input type="number" class="sku_input" [(ngModel)]="newProduct.import_quantity" name="import_quantity">         
            </div>         
            <div class="sku_pro">             
                <label class="label_import" for="">Upload Invoice <span class="important">*</span></label>             
                <input type="text" placeholder="Upload Invoice Image / PDF" class="sku_input">         
            </div>         
        </div>           

        <div class="button_import">                 
            <div class="save" (click)="saveToStock()" style="cursor: pointer;">Save to Stock</div>                 
            <div class="cancel" (click)="button_cancels()" style="cursor: pointer;">Cancel</div>             
        </div>     
    </div> 
</div>

<div class="import_product" [class.product2]="product2" [class.button_cancel]="button_cancel" [class.button_addd]="button_addd">
    <div class="con_import_product2" [class.out_comimport]="outimport" >
        <div class="serach_product">
            Import Product
        </div>
        <div class="add_image">
            <img src="image/Add ImageAdd_image.svg" alt="">
        </div>
        <div class="con_sku_pro">
            <div class="sku_pro">
            <label class="label_import" for="">SKU <span class="important">*</span></label>
            <input type="text" class="sku_input">
        </div>
        <div class="sku_pro">
            <label class="label_import" for="">Product Name</label>
            <input type="text" class="sku_input">
        </div>
        </div>
        <div class="con_sku_pro">
            <div class="sku_pro">
            <label class="label_import" for="">Catagory</label>
            <input type="text" class="sku_input">
        </div>
        <div class="sku_pro">
            <label class="label_import" for="">Brand</label>
            <input type="text" class="sku_input">
        </div>
        </div>
        <div class="con_sku_pro">
            <div class="sku_pro">
            <label class="label_import" for="">Price</label>
            <input type="text" class="sku_input">
        </div>
        <div class="sku_pro">
            <label  class="label_import"for="">Quantity In Stock</label>
            <input type="text" class="sku_input">
        </div>
        </div>
         <div class="serach_product">
            Add Product
        </div>
        <div class="con_sku_pro">
            <div class="sku_pro">
            <label class="label_import" for="">Supplier <span class="important">*</span></label>
            <input type="text" class="sku_input">
        </div>
        <div class="sku_pro">
            <label class="label_import" for="">Supplier Invoice No.<span class="important">*</span></label>
            <input type="text" class="sku_input">
        </div>
        </div>
        <div class="con_sku_pro">
            <div class="label_import" class="sku_pro">
            <label for="">Import Quantity <span class="important">*</span></label>
            <input type="text" class="sku_input">
        </div>
        <div class="sku_pro">
            <label class="label_import"  for="">Upload Invoice <span class="important">*</span></label>
            <input type="text"  placeholder="Upload Invoice Image / PDF" class="sku_input">
        </div>
        </div>
          <div class="button_import">
                <div class="save">Save to Stock</div>
                <div class="cancel" (click)="button_cancels()" >Cancel</div>
            </div>
    </div>
</div>

<div *ngIf="showpopup" class="backpop">
  <div *ngIf="showpopup" class="popupcontainer">
  <div class="popup-content">
    <img class="iconsuccess" src="image/success.svg" alt="">
    <div class="headerpop">
      Success
    </div>
    <div class="subheadersuccess">
      {{popup}}
    </div>
    <button class="buttonclose" (click)="closepopup()">Back to Inventory</button>
  </div>
</div>
</div>
<div *ngIf="isLoading" class="import_product2" >
    <div class="con_import_product3">
      <span class="loader"></span>
    </div>
</div>

<!-- <div *ngIf="isLoading" class="loading-container">
    <img class="logo_loading" src="/image/logoo.svg" alt="" >
  <div class="loading">
    <div class="loader1"></div>
    <div class="loader2"></div>
    <div class="loader3"></div>
    <div class="loader4"></div>
  </div>
</div> -->