
<div class="container">
  <div class="navbar">

  <div class="header">
    Register
  </div>
  <div class="subheader">
    Create New Dreamspos Account
  </div>
  

</div>


<div class="hero">
  <div class="Email">Username <span class="red">*</span></div>
   <div class="input-group">
      <input type="text"  [(ngModel)]="username">
      <img src="image/Vector.svg" class="iconpass" alt="">
  </div>
  <div class="Email">Email <span class="red">*</span></div>
  <div class="input-group">
      <input type="text" [(ngModel)]="title">
          <img src="image/Email.svg" class="iconpass" alt="">
  </div>
   <div class="Email">Password <span class="red">*</span></div>
   <div class="input-group">
      <input [type]="showPassword ? 'text': 'password'" [(ngModel)]="password">
      <img class="iconpass" (click)="showPassword = !showPassword" [src]="showPassword ? 'image/eye-open.svg' : 'image/eye-off.svg'">
  </div>
  <div class="Email">Confirm Password <span class="red">*</span></div>
   <div class="input-group">
      <input [type]="showConfirmPassword ? 'text': 'confirmPassword'" [(ngModel)]="confirmPassword" >
      <img class="iconpass" (click)="showConfirmPassword = !showConfirmPassword" [src]="showConfirmPassword ? 'image/eye-open.svg' : 'image/eye-off.svg'">
  </div>
  
  <div class="checkbox-group">
      <mat-checkbox class="re" id="rememberMe" [(ngModel)]="rememberMe">I agree to the</mat-checkbox>
      <div class="For">Terms & Privacy</div>
</div>

  <div class="sihg">
       <button class="button" (click)="addTodo()" [disabled]="loading">Sign Up</button>
  </div>
  <div class="new">New on our platform?  <a href="#" class="Create-account">Sign In Instead</a></div>
  <div class="or">OR</div>

  <div class="internet">
    <button class="Facebook"><img class="icon" src="image/facebook.svg" alt="Facebook"></button>
    <button class="Google"><img class="icon" src="image/google.svg" alt="Google"></button>
    <button class="Apple"><img class="icon" src="image/apple.svg" alt="Apple"></button>
  </div>

<div class="todo-list">
    @for(todo of todos; track todo.id){
      <div class="todo-item">
        <mat-checkbox  [(ngModel)]="todo.completed" (change)="toggleTodo(todo)"></mat-checkbox>
          <span [class.completed]="todo.completed">{{todo.title}}</span>
            <button class="delete-button" (click)="deleteTodo(todo.id)">ลบ</button>
      </div>
    }
  </div>
</div>
</div>

<div class="ferni"></div>
<div class="ferni2"></div>
<div class="ferni3"></div>
<div class="ferniback"></div>

<div *ngIf="showpopup" class="backpop">
  <div *ngIf="showpopup" class="popupcontainer">
  <div class="popup-content">
    <img class="iconsuccess" src="image/success.svg" alt="">
    <div class="headerpop">
      {{popup}}
    </div>
    <div class="subheadersuccess">
      Your register completed
    </div>
    <button class="buttonclose" (click)="closepopup()">Back to Sign In</button>
  </div>
</div>
</div>

<div *ngIf="showpopupnoti" class="backpop">
  <div *ngIf="showpopupnoti" class="popupcontainer">
  <div class="popup-content">
    <img class="iconsuccess" src="image/cross.svg" alt="">
    <div class="headerpop">
      Something went Wrong
    </div>
    <div class="subheadersuccess">
      {{popup}}
    </div>
    <button class="buttonnoti" (click)="closepopup()">OK</button>
  </div>
</div>
</div>