.navbaar {
  display: flex;
  align-items: center; 
   box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.4),
                inset 0 0 10px rgba(255, 255, 255, 0.2),
                0px 4px 10px rgba(17, 17, 17, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.3);
  position: fixed;
  top: 0;
   -webkit-backdrop-filter: blur(5px) saturate(1.2);
    backdrop-filter: blur(5px) saturate(1.2);
  left: 0;
  width: 100vw;
  z-index: 9;
  padding: 15px;
  background-color: #ffffff1f;
  animation: slide 1s ease-in-out;
  box-shadow: 0px 4px 4px 0px #11111105;
  animation: slideDown 0.5s ease-in-out forwards;

}

.con_all {
    height: 100vh; /* กำหนดความสูงให้เท่ากับหน้าจอ */
    min-height: 600px; /* ป้องกันไม่ให้เนื้อหาบีบอัดเกินไปเมื่อหน้าจอเล็ก */
    overflow: hidden; /* ซ่อนส่วนที่เกินออกไป */
    display: flex;
    width: 100%;
    align-items: center;
    min-width:700px;
    flex-direction: column;
    justify-content: flex-start; /* จัดเนื้อหาให้อยู่ด้านบนเสมอ */
}
.linee{
    height: 1px;
    background-color: #D6D6D6;
    width: 100%;
    margin-top: 20px;
    position: relative;
    z-index: 2;
}
.con_headerr{
    margin-top: 20px;
    position: relative;
    width: 100%;
    z-index: 1;
    font-size: 21px;
    display: flex;
    font-weight: 600;
    z-index: 2;
}
.con_back{
    display: flex;
    margin-left: auto;
    gap: 20px;
    font-weight: 300;
    font-size: 12px;
}
.con_back2{
    display: flex;
    margin-left: auto;
    gap: 20px;
    color: #716f6f;
    font-weight: 100 ;
    font-size: 12px;
}
.pro {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.apple{
    width: 15px;
    height: 15px;
    transform: scaleY(1.2);
}
.con_nav {
    width: 100%;
    gap: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.con_help {
    margin-top: 10px;
    padding: 30px;
    z-index: 8;
    width: 100%;
    display: flex;
    align-items: center; /* จัดให้อยู่กึ่งกลางแนวตั้ง */
    gap: 20px; /* เพิ่มระยะห่างระหว่างข้อความกับปุ่ม */
    margin-left: 160px;
}
.eieii {
    font-size: 16px;
    z-index: 8;
    font-weight: 200;
    /* ลบ position: absolute ออก */
}
.grayy {
    background: #F5F5F7;
    width: 100%;
    margin-top: 80px;
    height: 120px; /* ปรับเป็น 100vh หากต้องการให้เต็มความสูงของหน้าจอ */
    position: absolute;
    top: 0; /* เพิ่มคำสั่งนี้เพื่อตรึงให้อยู่ด้านบนสุด */
    left: 0;
    z-index: 3;
}
.eiei {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column; /* เพิ่มคำสั่งนี้ */
    justify-content: center;
    align-items: center;
    min-width: 600px;
    z-index: 0;
}
.n{
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    font-size: 15px;
    margin-bottom: -0.5px;
    border: 1px solid #86868B;
    border-radius: 10px 10px 0 0;
}
.n2{
width: 100%;
    
    padding: 20px;
    font-size: 15px;
    border-radius:  0 0 10px 10px;

    border: 1px solid #86868B;
    margin-bottom: 20px;
}
.iconweb{
    width: 100px;
}
.he{
    cursor: pointer;
    color: #1D1D1F;
    font-weight: 200;
    font-size: 12px;
}
.he:hover{
    color: #89898b;
}
.headercompany {
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    color: #6FAB23;
    font-weight: 800;
    align-items: flex-start;
    font-family: 'Nicomoji', sans-serif; 
}
.back {
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}
.header_Sign {
    font-size: 40px;
    font-weight: 600;
    margin-left: 400px;
    margin-right: 0;
    margin-bottom: 620px; 
    width: 100%;
}
.con_help {
    margin-top: 10px;
    padding: 30px;
    z-index: 8;
    width: 100%;
    display: flex;
    align-items: center; /* จัดให้อยู่กึ่งกลางแนวตั้ง */
    gap: 20px; /* เพิ่มระยะห่างระหว่างข้อความกับปุ่ม */
    margin-left: 160px;
}
.eieii {
    font-size: 16px;
    z-index: 8;
    font-weight: 200;
    /* ลบ position: absolute ออก */
}
.grayy {
    background: #F5F5F7;
    width: 100%;
    margin-top: 80px;
    height: 120px; /* ปรับเป็น 100vh หากต้องการให้เต็มความสูงของหน้าจอ */
    position: absolute;
    top: 0; /* เพิ่มคำสั่งนี้เพื่อตรึงให้อยู่ด้านบนสุด */
    left: 0;
    z-index: 3;
}
.eiei {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column; /* เพิ่มคำสั่งนี้ */
    justify-content: center;
    align-items: center;
    min-width: 600px;
    z-index: 0;
}
.n{
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    font-size: 15px;
    margin-bottom: -0.5px;
    border: 1px solid #86868B;
    border-radius: 10px 10px 0 0;
}
.n2{
width: 100%;
    
    padding: 20px;
    font-size: 15px;
    border-radius:  0 0 10px 10px;

    border: 1px solid #86868B;
    margin-bottom: 20px;
}
.line {
  display: flex;
  width: 100vw;
  height: 1px;
  background-color: #86868B;
  position: absolute;
  top: 700px; /* เปลี่ยนจาก bottom เป็น top และใส่ค่าที่ต้องการ */
  left: 0;
  z-index: 10;
}
.input-group label {
    top: 37%; 
    position: absolute;
    left: 20px;
    transform: translateY(-50%); /* ดึงกลับขึ้นไปครึ่งหนึ่งของความสูง label เพื่อให้อยู่ตรงกลางเป๊ะ */
    transition: 0.2s ease all;
    color: #6E6E73;
    pointer-events: none;
}
.pass{
    margin-top: -20px;
}
.input-group input:focus ~ label,
.input-group input:not(:placeholder-shown) ~ label {
    top: 20%;
    left: 20px;
    font-size: 10px;
    color: #6E6E73;
    padding: 0 2px;
}
.input {

}

body{
    min-height: 10vh;
display: flex;
}
.delete-button {
    background-color: #E04F16;
    color: #FFFFFF;
    border: none;
    width: 60px;
    padding:10px;
    border-radius: 10px;
    cursor: pointer;
}
.header{
    font-size: 40px;
    color: #1d1d1f;
    margin-bottom: 15px;
    font-weight: 500;
    transform: scaleY(0.95);
    letter-spacing: 0;
    line-height: 1.1;
}
.subheader{
    font-size: 17px;
    color: #1D1D1F;
    margin-bottom: 10px;
    font-weight: 300;
    
}
.container{
    max-width:500px;
    background:#FFFFFF;
    margin:20px;
    margin-top: -20px !important;
    border: none !important;
    border-radius:10px;
    padding:44px;
    align-items:center;
    justify-content:center;
    z-index: 1;
    animation: slideDown 0.7s ease-in-out forwards;

}

@keyframes slideDown { 
    0% { 
        opacity: 0;
    }
    100% { 
        opacity: 1;
    } 
}




.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin-bottom: 10px;
    align-items: center;     
}
/* 2. ตั้งค่าเริ่มต้นให้เนื้อหาข้างในถูกซ่อนไว้ */ 
.navbar, .hero, .sihg, .new, .or, .internet { 
  opacity: 0; 
  animation: fadeIn 0.7s ease-out forwards; 
}

/* 3. หน่วงเวลา (Delay) ให้แต่ละส่วนค่อยๆ แสดงขึ้นมา */ 
.navbar { 
  animation-delay: 0.6s; /* แสดงส่วนหัว */ 
}

.hero { 
  animation-delay: 0.7s; /* แสดงฟอร์ม */ 
}
.sihg{
    width: 100%;
    box-sizing: border-box;
}
.sihg, .new, .or, .internet { 
  animation-delay: 0.8s; /* แสดงปุ่มและส่วนท้าย */ 
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 768px) {
    .container{
        animation: slideDownmoblie 0.8s ease-out forwards;
    }
  @keyframes slideDownmoblie {
     0% { 
        transform: translateY(-1000px); 
        width: 50px;
        height: 50px;
        border-radius: 100px; 
    } 
    30% { 
        transform: translateY(0);
        width: 50px;
        height: 50px;
        border-radius: 100px; 
    } 
    60% { 
        transform: translateY(0);
        width: 300px;
        height: 300px;
        border-radius: 1000px;
        box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.5), 0 0 8px 10px #d4e4d0; 
    } 
    90% { 
        transform: translateY(0); 
        max-width:500px;
        background:#FFFFFF;
        margin:20px;
        border:1px solid #c5c5c59a;
        border-radius:10px;
        padding:44px;
        align-items:center;
        justify-content:center;
        z-index: 1;
         box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.5), 0 0 100px 10px #a6d59b; 
    } 
    95% { 
        transform: translateY(0); 
        max-width:500px;
        background:#FFFFFF;
        margin:20px;
        border:1px solid #c5c5c59a;
        border-radius:10px;
        padding:44px;
        align-items:center;
        justify-content:center;
        z-index: 1;
        box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.5), 0 0 19px 10px #d4e4d0; 
    } 
    100% { 
        transform: translateY(0); 
        max-width:500px;
        background:#FFFFFF;
        margin:20px;
        border:1px solid #c5c5c59a;
        border-radius:10px;
        padding:44px;
        align-items:center;
        justify-content:center;
        z-index: 1;
    } 
}
}

.ferni{
    width: 400px;
    height: 60px;
    background: #84D46E;
    position: fixed;
    left: -120px;
    top: 50vh;
    transform: translateY(-50%) rotate(-10deg);
    clip-path: polygon(0 0, 100% 0,95% 100%,0 100%
    );
    animation: fade 0.7s ease-out forwards;
}
.ferni2{
    width: 400px;
    height: 60px;
    background: #84D46E;

    position: fixed;
    left: 100px;
    top: 50vh;
    transform: translateY(-50%) rotate(-10deg);
    clip-path: polygon(100% 0, 96% 100%,0 100%,5% 0
);
    animation: fade 0.7s ease-out forwards;
}
.ferni3{
    width: 400px;
    height: 60px;
    background: #84d46e69;

    position: fixed;
    right: -12px;
    top: 32vh;
    transform: translateY(-50%) rotate(-5deg);
    clip-path: polygon(100% 0, 96% 100%,0 100%,5% 0
);
    animation: fade 0.7s ease-out forwards;
}
.ferniback{
     width: 2300px;
    height: 1200px;
    background: #84d46e35;

    position: fixed;
    left: -120px;
    top: 110vh;
    transform: translateY(-50%) rotate(-5deg);
    clip-path: polygon(0 0, 100% 0,95% 100%,0 100%
        
    );
    animation: fade 1.5s ease-out forwards;
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

input{
    height:55px;
    border-radius:10px;
    border:1px solid#A0A0A4 ;
    box-shadow: 0px 2px 23px rgba(16, 24, 40, 0.05);
    width:100%;
    padding: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-top: 30px;
    
    box-sizing: border-box;
}

.Email{
    margin-bottom:20px;
}
.red{
    color:red;
}
.re{
    font-size: 15px;
    color: #646B72;
    font-weight: 300;
}
.For {
    margin-left: 5px; 
    color: #E04F16;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}
.iconpass {
    position: absolute;
    right: 15px;
    top: 36%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.input-group{
    position: relative;
}
.button{
    width:100%;
    height:20px;
    padding:23px;
    font-size:16px;
    color:#FFFFFF;
    border:2px solid #E6EAED;
    border-radius:8px;
    background:#84D46E;
    justify-content:center;
    display:flex;
    margin-bottom:20px;
    align-items:center;
}
.button:hover{
    background: #98ee80;
    cursor: pointer;
}
.checkbox-group {
    width: 100%;
    display: flex;
    align-items: center;
    accent-color: #FE9F43;
    margin-bottom: 20px;
    margin-left:-10px;
}
::ng-deep .re.mat-mdc-checkbox-checked .mdc-checkbox__background {
  background-color: #FE9F43 !important;
  border-color: #FE9F43 !important;
  color:#FFFFFF;
  border-radius: 7px;
  
}
::ng-deep .re .mdc-checkbox__checkmark {
  width: 9px !important;
  height: 9px !important;
  padding: 2px !important;
}
::ng-deep .re .mdc-checkbox__checkmark-path {
  stroke-width: 6px !important;
}
.con_input {
    display: flex;
    width: 100%;
    gap: 10px;
    box-sizing: border-box;
}
.new{
    color: #646B72;
    font-weight: 300;
    margin-bottom: 30px;
}
.or{
    text-align:center;
    font-size: 20px;
    color: #646B72;
    margin-bottom: 30px;
}
.Create-account{
    color: #85D46E;
    text-decoration: none;
    font-weight: 400;
}
.internet {
    display: flex;
    gap: 15px;
    z-index: 12;
    /* ลบ width: 100% และ margin-top: 50px ออก */
}
.Facebook {
    width: 65px;
    height: 65px;
    border-radius: 20px;
    border: 0px;
    background: #155EEF;
}

.Google {
    width: 65px;
    height: 65px;
    border-radius: 20px;
    border: 1px solid #E6EAED;
    background: #FFFFFF;

}

.Apple {
    width: 65px;
    height: 65px;
    border-radius: 20px;
    border: 0px;
    background: #1B2850;
}

h1{

 text-align:center;

}

.input-group {
    position: relative;
    flex: 1; /* เพิ่ม flex: 1 เพื่อให้ขยายเต็มพื้นที่ในแนวนอน */
    display: flex;
    flex-direction: column; /* จัดให้ Label และ Input เรียงในแนวตั้ง */
}


mat-form-field{

 flex:1;

}



.todo-item{

 display:flex;

 align-items:center;

 gap:10px;
    max-width: 100% !important;
 margin-top:15px;

 padding:15px;

 border-radius:12px;

 background:#f5f5f5;

}



.todo-item span{
max-width: 100% !important;
 flex:1;

}


.completed{

 text-decoration:line-through;

 opacity:.5;

}



.Email{
    color: #212B36;
    margin-bottom: 10px;
    font-weight: 400;
}

:host {
    display: block;
    background: #f2f2f2f9;
    padding: 20px 0;
    font-family: "Roboto", "Noto Serif Thai", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width:768px){
    .container{
        width: 80vw !important;
        max-width:100% !important;
        padding:20px !important;
    }

    .header{
        font-size:26px;
        margin-bottom:10px;
    }

    .subheader{
        font-size:16px;
    }

    .re,
    .For{
        font-size:16px;
    }

    .internet{
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    }

    .Facebook,
    .Google,
    .Apple{
        width:50px;
        height: 50px;
        border-radius: 100px;

    }
    .subheader{
        margin-bottom:10px;
    }
    .Email{
        margin-bottom:20px;
    }

    .ferni,
    .ferni2,
    .ferni3{
        width:250px;
        height:60px;
    }

    .ferniback{
        width:150%;
        height:700px;
        left:-20%;
        top:100%;
    }
    .popupcontainer{
    width:60% !important;
    
}
.headerpop{
    font-size: 20px !important; 
}
.iconsuccess{
    width: 60px !important;
    height: 60px !important;
}
}

.popupcontainer{
    background-color: #FFFFFF;
    border: 2px solid #bccbbb85 ;
    border-radius: 40px;
    padding: 50px;
    width: 400px;
    height: 200px;
    position: absolute;
    z-index: 1;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.buttonclose {
    width:100%;
    height:20px;
    padding:23px;
    font-size:16px;
    color:#FFFFFF;
    border:2px solid #E6EAED;
    border-radius:8px;
    background:#84D46E;
    justify-content:center;
    display:flex;
    margin-bottom:20px;
    align-items:center;
}
.backpop {
    background-color: rgba(0, 0, 0, 0.28);
    position: fixed; /* ใช้ fixed เพื่อให้ตรึงอยู่กับหน้าจอแม้จะมีการเลื่อน */
    top: 0;
    left: 0;
    width: 100vw;  /* ความกว้างเต็มหน้าจอ */
    height: 100vh; /* ความสูงเต็มหน้าจอ */
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 9999; /* เพิ่ม z-index เพื่อให้อยู่ด้านบนสุด */
}
.subheadersuccess{
    font-size: 15px;
    color: #646B72;
    margin-bottom: 20px;
    font-weight: 300;
    justify-content: center;
    display: flex;
    text-align: center;
}
.headerpop{
    font-size: 30px;
    color: #212B36;
    margin-bottom: 15px;
    font-weight: 450;
    display: flex;
    justify-content: center;

}

.iconsuccess{
    width: 40px;
    height: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}


.buttonnoti {
    width:100%;
    height:20px;
    padding:23px;
    font-size:16px;
    color:#FFFFFF;
    border:2px solid #E6EAED;
    border-radius:8px;
    background:#DC1818;
    justify-content:center;
    display:flex;
    margin-bottom:20px;
    align-items:center;
}

/* เพิ่ม Container สำหรับจัดกึ่งกลางหน้าจอ */
.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    /* ใส่พื้นหลังโปร่งแสง (ไม่ใส่ก็ได้) */
    z-index: 9999;
    /* ให้อยู่บนสุดเสมอ */
}

.loading {
    display: flex;
    gap: 8px;
    /* เพิ่มระยะห่างระหว่างแท่ง */
    width: 100px;
    /* กำหนดความกว้างให้กลุ่ม Loading */
}

.loading>div {
    height: 16px;
    background: #203e18;
    flex: 1;
    transform: scaleY(0.1);
    animation: loading 0.5s ease-in-out infinite alternate;
}

@keyframes loading {
    0% {
        opacity: 0.2;
        transform: scaleY(0.1);
    }

    100% {
        opacity: 1;
        transform: scaleY(2.8);
        background: #84D46E;
    }
}


.loader1 {
    animation-delay: 0.1s !important;
}

.loader2 {
    animation-delay: 0.2s !important;
}

.loader3 {
    animation-delay: 0.3s !important;
}

.loader4 {
    animation-delay: 0.4s !important;
}



/* เพิ่ม Container สำหรับจัดกึ่งกลางหน้าจอ */
.loading-container {
    position: fixed;
    top: -20px;
    flex-direction: column;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    /* ใส่พื้นหลังโปร่งแสง (ไม่ใส่ก็ได้) */
    z-index: 9999;
    /* ให้อยู่บนสุดเสมอ */
}

.loading {
    display: flex;
    gap: 8px;
    /* เพิ่มระยะห่างระหว่างแท่ง */
    width: 100px;
    /* กำหนดความกว้างให้กลุ่ม Loading */
}

.loading>div {
    height: 16px;
    background: #203e18;
    flex: 1;
    transform: scaleY(0.1);
    animation: loading 0.5s ease-in-out infinite alternate;
    
}

@keyframes loading {
    0% {
        opacity: 0.2;
        transform: scaleY(0.1);
    }

    100% {
        opacity: 1;
        transform: scaleY(2.8);
        background: #84D46E;
    }
}


.loader1 {
    animation-delay: 0.1s !important;
}

.loader2 {
    animation-delay: 0.2s !important;
}

.loader3 {
    animation-delay: 0.3s !important;
}

.loader4 {
    animation-delay: 0.4s !important;
}

.logo_loading {     
    width: 300px;     
    transform: scaleX(1.2);
    height: 300px;     
    /* เพิ่ม Animation ให้ขยายใน 2 วินาที */
    animation: expandLogo 2s linear infinite alternate;
}

/* สร้าง Keyframes สำหรับการขยาย */
@keyframes expandLogo {
    0% {
        opacity: 0%;/* ขนาดเริ่มต้น */
    }
    100% {
        opacity: 100%; /* ขยายใหญ่ขึ้น 1.5 เท่า (ปรับได้ตามต้องการ) */
    }
}