
<div class="back"></div>
<div class="con_all">
  <div class="con_headerr">TRD Account
    <div class="pro">
      <div class="con_back">Sign In
      <div class="con_back2">Create Your TRD Account
        <div class="con_back">FAQ</div>
    </div>
      </div>
    </div>
  </div>
  <div class="linee"></div>
  <div class="container">
  <div class="navbar">

  <div class="header">
    Create Your TRD Account
  </div>
  <div class="subheader">
    One TRD Account is all you need to access all Tamraidee services.
  </div>
  <div class="subheader">
    Already have an TRD Account? <a href="#" class="Create-account">Sign In </a>  
  </div>
  

</div>


<div class="hero">
   <div class="con_input">
    <div class="input-group">
      <input type="text" placeholder="" [(ngModel)]="username">
      <label for="">Username</label>
      <img src="image/Vector.svg" class="iconpass" alt="">
  </div>
  <div class="input-group">
      <input type="text" placeholder="" [(ngModel)]="title">
      <label for="">Email</label>
          <img src="image/Email.svg" class="iconpass" alt="">
  </div>
   </div>
   <div class="input-group">
      <input placeholder="" [type]="showPassword ? 'text': 'password'" [(ngModel)]="password">
      <label for="">Password</label>
      <img class="iconpass"  (click)="togglePasswordVisibility()" [src]="showPassword ? 'image/eye-open.svg' : 'image/eye-off.svg'">
  </div>
   <div class="input-group">
      <input placeholder="" [type]="showConfirmPassword ? 'text': 'password'" [(ngModel)]="confirmPassword" >
      <label for="">Confirm Password</label>
      <img class="iconpass" (click)="toggleConfirmPassword()" [src]="showConfirmPassword ? 'image/eye-open.svg' : 'image/eye-off.svg'">
  </div>
  
  <div class="checkbox-group">
      <mat-checkbox class="re" id="rememberMe" [(ngModel)]="rememberMe">I agree to the</mat-checkbox>
      <div class="For">Terms & Privacy</div>
</div>

  <div class="sihg">
       <button class="button" (click)="addTodo()" [disabled]="loading">Continue</button>
  </div>
<!--   <div class="new">New on our platform?  <a href="#" class="Create-account">Sign In Instead</a></div> -->
<!--   <div class="or">OR</div> -->

 <!--  <div class="internet">
    <button class="Facebook"><img class="icon" src="image/facebook.svg" alt="Facebook"></button>
    <button class="Google"><img class="icon" src="image/google.svg" alt="Google"></button>
    <button class="Apple"><img class="icon" src="image/apple.svg" alt="Apple"></button>
  </div> -->

<!-- <div class="todo-list">
    @for(todo of todos; track todo.id){
      <div class="todo-item">
        <mat-checkbox  [(ngModel)]="todo.completed" (change)="toggleTodo(todo)"></mat-checkbox>
          <span [class.completed]="todo.completed">{{todo.title}}</span>
            <button class="delete-button" (click)="deleteTodo(todo.id)">ลบ</button>
      </div>
    }
  </div> -->
</div>
</div>
</div>

<div class="ferni"></div>
<div class="ferni2"></div>
<div class="ferni3"></div>
<div class="ferniback"></div>

<div class="line">
  <div class="con_help">
    <div class="eieii">Or you can choose to register through another platform.</div>
    <div class="internet">
    <button class="Facebook"><img class="icon" src="image/facebook.svg" alt="Facebook"></button>
    <button class="Google"><img class="icon" src="image/google.svg" alt="Google"></button>
    <button class="Apple"><img class="icon" src="image/apple.svg" alt="Apple"></button>
  </div>
  </div>
  <div class="grayy"></div>
  
</div>
  
<div *ngIf="showpopup" class="backpop">
  <div *ngIf="showpopup" class="popupcontainer">
  <div class="popup-content">
    <img class="iconsuccess" src="image/success.svg" alt="">
    <div class="headerpop">
      {{popup}}
    </div>
    <div class="subheadersuccess">
      Your register completed
    </div>
    <button class="buttonclose" (click)="closepopup()">Back to Sign In</button>
  </div>
</div>
</div>

<div *ngIf="showpopupnoti" class="backpop">
  <div *ngIf="showpopupnoti" class="popupcontainer">
  <div class="popup-content">
    <img class="iconsuccess" src="image/cross.svg" alt="">
    <div class="headerpop">
      Something went Wrong
    </div>
    <div class="subheadersuccess">
      {{popup}}
    </div>
    <button class="buttonnoti" (click)="closepopup()">OK</button>
  </div>
</div>
</div>


<div *ngIf="isLoading" class="loading-container">
    <img class="logo_loading" src="/image/logoo.svg" alt="" >
  <div class="loading">
    <div class="loader1"></div>
    <div class="loader2"></div>
    <div class="loader3"></div>
    <div class="loader4"></div>
  </div>
</div>