<div class="container">
  <div class="navbar">

  <div class="header">
    Forgot password?
  </div>
  <div class="subheader">
    If you forgot your password, well, then we’ll email you instructions to reset your password.
  </div>
  
<div class="Email">Email Address  <span class="red">*</span></div>

  <div class="input-group">
      <input type="text" > 
      <img src="image/Email.svg" class="iconpass" >
  </div>

<div class="hero">

</div>

<div class="hero">


<div class="sihg">
       <button class="button">Submit</button>
  </div>

  <div class="return">
    Return to <a href="#" class="login">Login</a>
</div>
</div>
</div>
</div>
<div class="ferni"></div>
<div class="ferni2"></div>
<div class="ferni3"></div>
<div class="ferniback"></div>


