<div class="navbaar">
    <button class="hamburger" (click)="hambar()">
        <img src="image/ham.svg" alt="">
    </button>
    <div class="headercompany">
        <img src="image/logo.svg" alt="">
    </div>
    <!--   <div class="search">
        <input class="inputser"type="text" placeholder="Search" [(ngModel)]="search" (input)="filterS()">
        <img class="iconsearch" src="image/search.svg" alt="">
    </div> -->
    <div class="container_bar">
        <div class="time" [class.active]="isTimeOpen" (click)="isTimeOpen = !isTimeOpen">
            <img class="icon_time" src="image/Time Icon.svg">
            <div class="Y">
                {{ currentTime | date:'HH:mm:ss' }}
            </div>
        </div>
        <div class="lin"></div>
        <img class="iconsetting1" src="image/Maximize Icon.svg" (click)="toggleMenu()" [class.Max]="Max" alt="">
        <!-- <img class="iconsetting2" src="image/Song.svg" alt=""> -->
        <img class="iconsetting3" src="image/Chart.svg" alt="">
        <img class="iconsetting4" [src]="profile" alt="User Profile">
        
    </div>

</div>

<div class="over">
    <div class="fix" [class.open]="isMenuOpen">
        <div class="sidebar" [class.open]="isMenuOpen">
            <div class="ge">GENERAL</div>
            <div class="menuin">
                <div class="dash">
                    <img src="image/dashboard.svg" alt="">Dashboard
                </div>
                <div class="no" (click)="Animationa_out()">
                    <img src="image/icon-wrapper-h.svg" alt="">Inventory
                </div>
                <div class="no" (click)="Animation_out2()">
                    <img src="image/shop.svg" alt="">Sales Orders
                </div>
                <div class="no"(click)="Animation_out3()">
                    <img src="image/Vectorhistory.svg" alt="">Stock History
                </div>
                <div class="no"(click)="Animation_out4()">
                    <img src="image/Employee.svg" alt="">Employee
                </div>
                <div class="no" (click)="Animation_out6()">
                    <img src="image/audit.svg" alt="">Audit Log
                </div>
                <div class="no" (click)="Animation_out5()">
                    <img src="image/car.svg" alt="">Suppliers
                </div>
            </div>
            <div class="ge">SUPPORT</div>
            <div class="menuin">
                <div class="no">
                    <img src="image/help.svg" alt="">Help
                </div>
                <div class="no">
                    <img src="image/setting.svg" alt="">Settings
                </div>
            </div>
            <div class="Logout" (click)="logout()"><img class="" src="/icon_manager/Logout.svg">Log Out</div>
        </div>
    </div>

    <div class="container" [class.fade-out]="Animation_out" [class.fade-out2]="Animation_outsale"
        [class.Return]="play_Return" [class.Boom]="stan">
    <div class="con_header">
        <div class="header_Inventory">Dashboard</div>
    </div>
        <div class="contall">
            <div class="headersum">Sales Summary</div>
        <div class="conT">
            <div class="T">
                <img class="iconpass" src="image/Frame.svg" alt="">
                <div class="con_sub">
                    <div class="sub">Today’s Sale</div>
                </div>
            </div>
            <div class="T">
                <img class="iconpass" src="image/shop2.svg" alt="">
<div class="con_sub">
                    <div class="sub">Yearly Total Sales</div>
                </div>
            </div>
            <div class="T">
                <img class="iconpass" src="image/coin.svg" alt="">
                <div class="con_sub">
                    <div class="sub">Net Income</div>
                </div>
            </div>
            <div class="T">
                <img class="iconpass" src="image/bag.svg" alt="">
                <div class="con_sub">
                    <div class="sub">Products</div>
                </div>
            </div>
        </div>
        </div>
        <div class="static">
            <div class="navstatic">
                <!-- <img class="iconsale" src="image/Salegreen.svg" alt=""> -->
                <div class="headerSale">
                    Sales & Purchase
                </div>
                <div class="overdate">
                    <div class="date">1Y</div>
                    <div class="date">6M</div>
                    <div class="date">3M</div>
                    <div class="date">1M</div>
                    <div class="date">1W</div>
                    <div class="date">1D</div>
                </div>
            </div>
            <div class="line-header"></div>
            <div class="box-total">
                <div class="total"><span class="point"></span>Total Purchase</div>
                <div class="total"><span class="point2"></span>Total Sales</div>
            </div>
            <div class="bigcontainergraph">

                <div class="num-container">
                    <div class="num">60K</div>
                    <div class="num">50K</div>
                    <div class="num">40K</div>
                    <div class="num">30K</div>
                    <div class="num">20K</div>
                    <div class="num">10K</div>
                    <div class="num">0</div>
                </div>

                <div class="con">
                    <!-- ใช้ *ngIf เพื่อเลือกว่าจะแสดง Skeleton หรือข้อมูลจริง -->
                    <ng-container *ngIf="loader; else realData">
                        <div class="card">
                            <div class="loader">
                                <div class="text">Loading</div>
                                <div class="words">
                                    <span class="word"></span>
                                    <span class="word">TAM</span>
                                    <span class="word">RAI</span>
                                    <span class="word">DEE</span>
                                    <span class="word">WELCOME</span>
                                    <span class="word">Please</span>
                                    
                                </div>
                            </div>
                        </div>

                    </ng-container>

                    <!-- ส่วนแสดงข้อมูลจริงเมื่อ loader เป็น false -->
                    <ng-template #realData>
                        <div *ngFor="let item of data; let i=index" class="bar-container">
                            <div class="bar" [style.height.px]="calculateHeight(item.value)"></div>
                            <div class="mon">{{ months[i] }}</div>
                        </div>
                    </ng-template>
                </div>

                <div class="line"></div>

            </div>
        </div>




    </div>

    <div class="fix2" [class.open]="isMenuOpenprofile" [class.out]="out" [class.inhere]="inhere" [class.outs]="outs">
        <div [class.open]="isMenuOpenprofile" class="profile" [class.out]="out" [class.inhere]="inhere" [class.outs]="outs">
            <div class="header_Manager">
                <div class="header_inside">
                    <img class="iconsetting4" [src]="profile" alt="User Profile">
                    <div class="container_header">
                        <div class="manager"> {{username}}</div>
                        <div class="small_manager">Admin</div>
                    </div>
                    <img class="pointt" src="/icon_manager/point.svg">
                </div>


            </div>
            <div class="linee"></div>
            <div class="container_qu">
                <div class="qu">Quick Actions</div>
                <div class="action">
                    <div class="co"><img class="icon_managerr" src="/icon_manager/add.svg">Create Order </div>
                    <div class="co"><img class="icon_managerr" src="/icon_manager/box.svg">Add Product</div>
                    <div class="co"><img class="icon_managerr" src="/icon_manager/deli.svg">Add Supplier</div>
                    <div class="co"><img class="icon_managerr" src="/icon_manager/up.svg">Export</div>
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="showpopupnoti" class="backpop">
        <div *ngIf="showpopupnoti" class="popupcontainer">
            <div class="popup-content">
                <img class="iconsuccess" src="image/cross.svg" alt="">
                <div class="headerpop">
                    Something went Wrong
                </div>
                <div class="subheadersuccess">
                    {{popup}}
                </div>
                <button class="buttonnoti" (click)="closepopup()">OK</button>
            </div>
        </div>
    </div>