
<div class="back">
    <div class="container">
    <div class="container_logo">
        <img class="logo" src="image/logoo.svg" alt="">
    </div>
    <div class="container_text">
        <div class="header">Thank you for registering</div>
    </div>
    <div class="container_sub">
        <div class="sub">Your account is currently under review. We will notify you once your access has been approved by our manager."</div>
    </div>
    <div class="buttons">
            <button class="button" (click)="backtologin()">Return to Login</button>
        </div>
</div>
</div>