body {
  background-color: #fff;
}
.logo{
    width: 200px;
    height:200px;
    margin-top: -20px;
    transform: scaleX(1.1);
}
.container{
    padding: 50px;
    background-color: #fff;
    border: 2px solid #E6EAED;
    border-radius: 8px;
    width: 40%;
    margin: 0 auto; /* เพิ่มคำสั่งนี้ */
}
.button {
    width: 100%;
    height: 20px;
    padding: 23px;
    font-size: 16px;
    color: #FFFFFF;
    border: 2px solid #E6EAED;
    border-radius: 8px;
    background: #84D46E;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub{
    color: #646B72;
    font-weight: 300;
    margin-bottom: 20px;
}
.header{
    color: #212B36;
    font-size: 30px;
    font-weight: 600;
}
.container_text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.container_sub{
     display: flex;
    justify-content: center;
    align-items: center;
}
.back {
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}